.chat-div {
	width: 100%;
	margin: 40px auto 0px auto;
}

.chat {
	/*margin: 30px;*/
	width: 73%;
	display: inline-block;
	/*margin-top: 0;*/
	margin-left: 0%;
	position: relative;
	top: -45px;
}

.chat-content {
	padding: 20px;
	background: #F8F8F8;
	width: 100%;
	height: 500px;
	overflow-x: hidden;
	overflow-y: auto;
}

.chat-message {
	margin-top: 8px;
	margin-bottom: 8px;
}

.message-icon-left {
	position: absolute;
	right: auto;
	left: -21px;
	color: #FFF;
}

.message-icon-right {
	position: absolute;
	/*left: 5px;*/
	right: -280px;
	color: #DDD;
}

.info-content {
	display: inline-block !important;
	display: inline;
	width: auto;
}

.chat-message-content1 {
	position: relative;
	float: left;
	background: #FFFFFF;
	margin-right: 20%;
	width: auto;
	box-shadow: none;
	padding: 11px;
	border: 1px solid #DDD;
	border-radius: 4px;
}


.chat-message-content2 {
	position: relative;
	float: right;
	background: #34BBF9;
	margin-left: 20%;
	width: auto;
	box-shadow: none;
	padding: 11px;
	border: 1px solid #34BBF9;
	border-radius: 4px;
}

/*.form-group {
	width: 100%;
	height: 100%;
}*/

.form-div {
	/*padding: 1%;*/
}

.input-div {
	width: 86%;
	margin: 2% 0.8% 2% 0.9%;
}

.send-div {
	width: 11%;
	height: 53px;
	margin-top: 2%;
}

#input-message {
	width: 100%;
}

.send-div>input {
	height: 100%;
}

.chat-list {
	width: 20%;
	height: 565px;
	display: inline-block;
	overflow-x: hidden;
	overflow-y: hidden;
	margin-left: 2%;
	position: relative;
	top: -15px;
	/*background: #EBEBEC;*/

}

.list-item {
	height: 66px;
	border-right: 1px solid gray;
	background: #FAF7F4;
	padding-top: 4px;
	padding-left: 45px;
	/*font-size: 20px;*/
}

.list-item {
	display: none;
}

#user-no {
	display: none;
}

.a-card {
    text-decoration: none !important;
    display: block;
    border: 1px solid #DDD;
    margin: 0;
    color: black;
}

.card {
    height: 60px;
    text-align: center;
    padding-top: 25px;
}

.a-card:hover {
    transition:transform .8s cubic-bezier(0.23, 1, 0.32, 1), box-shadow .8s cubic-bezier(0.23, 1, 0.32, 1);
    box-shadow:0 0 20px rgba(0, 0, 0, 0.3);
    transform:scale(1.01);
    background-color: #F8F8F8;
    z-index:2;
}